.formContainer {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid var(--color-border-form);
  border-radius: 10px;
  background-color: var(--color-bg-form);
  box-shadow: 0 0 10px var(--color-shadow);
  color: var(--color-text-form);
}

.formContainer div {
  margin-bottom: 15px;
}

.formContainer label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formContainer input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--color-input-border);
  border-radius: 5px;
  background-color: var(--color-bg-second);
  color: var(#000);
}

.formContainer button {
  width: 100%;
  padding: 10px;
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formContainer button:hover {
  background-color: var(--color-button-hover);
}

.formContainer p {
  margin-top: 15px;
  text-align: center;
}
